<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Belajar Vue</title>
  </head>
  <body>
    <div id="app">
      <h1>{{message}}</h1>
      <p>{{text}}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          message: "Hello Vue!",
          text: "saya sedang belajar Vue Js",
        },
      });
    </script>
  </body>
</html>
