<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz 5</title>
  </head>
  <body>
    <div id="app">
      <form action="#">
        <div class="form-group">
          <!-- <label>Nama</label> -->
          <input type="text" class="form-control" name="name" /><button
            type="submit"
            class="btn btn-primary"
          >
            add
          </button>
        </div>

        <h1>{{users}</h1>
        <!-- <p>{{'pesan: ' + message}}</p>
        <p>{{'Total: $(total * 10)'}}</p>
        <p>{{ok ? 'YES' : 'NO'}}</p>
        <p>{{message.split(' ').reverse().join(' ') }}</p> -->
      </form>

      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
      <script>
        var vm = new Vue({
          el: "#app",
          data: {
            users: "Muhammad Iqbal Mubarok",
            //   'Ruby Purwanti',
            //   'Faqih Muhammad',
          },
        });
      </script>
    </div>
  </body>
</html>
